.stamps {
height: 10vw;
position: flex;
justify-content: center;
}
@media screen and (max-width: 480px) {

  .landing__page {
    margin: 0vw;
    position: flex;
    background: url(./images/cellPhone.jpeg) no-repeat;
    width: 120vw;
    height: 250vw;
    background-size: cover;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {

  .landing__page {
    margin: 0vw;
    position: flex;
    background: url(./images/cellPhone.jpeg) no-repeat;
    width: 120vw;
    height: 200vw;
    background-size: cover;
  }
}

@media screen and (min-width: 1030px) {
  .landing__page {
    margin: 0vw;
    position: flex;
    background: url(./images/pc.jpeg) no-repeat;
    width: 120vw;
    height: 60vw;
    background-size: cover;
  }
}
   @media screen and (min-width: 1024px) and (max-width: 1024px) {
    .landing__page {
      margin: 0vw;
      position: flex;
      background: url(./images/ipad.jpeg) no-repeat;
      width: 120vw;
      height: 200vw;
      background-size: cover;
    }
}


html { 
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;  
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

